#estructura {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 97vh;
}

#seccion1 {
    background-color:  #eee8dc;
    margin: 10px;    
}

#instrucciones {
    border-top: solid #a8a296 2px;
    border-bottom: solid #a8a296;
    padding-top: 1%;
    padding-bottom: 13%;
    margin: 5%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #574b3b;
    font-size: 25pt;
}

#lorem {
    color: #574b3b;
    margin-left: 18%;
    text-align: justify;
    font-size: 20pt;
}

#seccion2 {
    background-color:  #eee8dc;
    margin: 10px;
}

#juego {
    color: #574b3b;
    margin: 5%;
    border-top: solid #a8a296 2px;
    padding-top: 1%;
    padding-bottom: 5%;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 25pt;
}

#tablero {
    display: grid;
    margin-left: 20%;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40%;
    width: 60%;
}

#posicion1 {
    position: relative;
}

#posicion2 {
    position: relative;
    border-left: solid #a1978b 3px;
    border-right: solid #a1978b 3px;
}

#posicion3 {
    position: relative;

}

#posicion4 {
    position: relative;
    border-top: solid #a1978b 3px;
    border-bottom: solid #a1978b 3px;
}

#posicion5 {
    position: relative;
    border: solid #a1978b 3px;
}

#posicion6 {
    position: relative;
    border-top: solid #a1978b 3px;
    border-bottom: solid #a1978b 3px;
}

#posicion7 {
    position: relative;

}

#posicion8 {
    position: relative;
    border-left: solid #a1978b 3px;
    border-right: solid #a1978b 3px;
}

#posicion9 {
    position: relative;
    
}

img {
    position: absolute;
    width: 100%;
}

div h3 {
    text-align: center;
    color: #574b3b;
}

div>table {
    margin-left: 25%;
    width: 50%;
}

tr {
    height: 3vh;
}

table * th {
    color: #756a5d;
}

table tr td {
    text-align: center;
    color: #756a5d;
}

#oscura {
    background-color: #dad3c9;
}

div span h3 {
    letter-spacing: 0.3em;
}

div span div {
    text-align: center;
    color: #756a5d;
}

#seccion3 {
    background-color:  #eee8dc;
    margin: 10px;
}

#historia {
    color: #574b3b;
    border-top: solid #a8a296 2px;
    border-bottom: solid #a8a296;
    padding-top: 1%;
    padding-bottom: 13%;
    margin: 5%;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 25pt;
}

#lorem2 {
    color: #574b3b;
    text-align: center;
    font-size: 20pt;
}